* {
    padding: 0;
    margin: 0;
}

.bg-img {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mpichu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.mycard {
    width: 26rem;
    margin: auto;
    background: transparent;
}

.tittle {
    color: rgb(243, 9, 9);
    font-size: 3.5rem;
    font-weight: 800;
}

.subtittle {
    color: rgb(243, 9, 9);
    font-size: 2rem;
    font-weight: 800;
}

.list {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}